1-interperter supports python language

2- You have to download The following libraries into your environment:
	-OS
	-tensorflow>=2.0
	-opencv-python
	-numpy
	-scikit-learn
	-matplotlib
	-seaborn

